# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PROJECTS\Full stack notes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
